body,
div,
header,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 0.08em;
}

body {
  background-color: #1d2731;
}

a {
  color: #22698e;
  font-weight:600;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.online-heading,
.work-entry,
.mobile-project-entry {
  padding: 0 5%;
  margin-bottom: 2%;
}

.education-entry {
  border-style: solid;
  border-color: #f2f6fc;
  border-width: thin;
}

.mobile-project-entry img {
  width: 95%;
}

#headerMenu {
  height: auto;
}

.skills-container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.welcome-message {
  width: 50%;
  text-align:center;
  padding-top: 2%;
}

#skill-sector {
  text-align: center;
  width: 100%;
}

.project-entry {
  padding:0;
}

.caption {
  height: auto;
}

.fisheye-container {
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2%;
  margin-top: 1%;
}

.fisheye-image {
  transition:300ms;
  padding: 0;
  margin:0;
}

h1 {
  font-size: 40px;
  color: #0b3c5d;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #328cc1;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #1d2731;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;
}

.online-heading {
  margin-top: 2%;
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #d9b310;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #d9b310;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

.pale-grey p {
  color: #f2f6fc;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #d9b310;
  line-height: 28px;
  text-align: center;
}

#skills-h3 {
  color: #d9b310;
  display: none;
  text-align: center;
}

.orange {
  background-color: #1d2731;;
}

.orange-text {
  color: #d9b310;
}

.white-text {
  font-weight: 300;
  color: #328cc1;
}

.gray {
  background-color: #f2f6fc;
  padding-bottom: 10px;
  clear: both;
}
.pale-grey {
  padding-bottom: 10px;
  clear: both;
  color: #f2f6fc;
}

.dark-blue {
  background-color: #1d2731;
}

#headerImg {
  background-color: #fff;
  background-image: url(../images/CAcoast.jpg);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.name {
  font-size: 200%;
}

.role {
  font-size: 100%;
  font-weight: 700;
}

.name,
.role {
  letter-spacing: .3em;
  padding: 1% 0;
  width: 100%;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#contacts {
  text-align: center;
  padding-bottom: 20px;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #contacts {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #contacts {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

@media only screen and (max-width: 615px) {
  #projects {
    display: none;
  }
}

@media only screen and (min-width: 615px) {
  #mobileProjects {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 450px) {
  .name {
    font-size: 300%;
  }
  .role {
    font-size: 250%;
  }
}

@media only screen and (min-width: 675px) {

  .role {
    font-size: 250%;
  }
  .name,
  .role {
    font-weight: 900;
    letter-spacing: .5em;
    padding: 2% 0;
  }
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
    text-align: center;
  }
  #skill-sector {
    width: 50%;
  }
}

@media only screen and (min-width: 820px) {
  .name {
    font-size: 400%;
  }
}

/*Colors for reference*/
/*#22698e;
#328cc1;
#1d2731;
#d9b310;
#f2f6fc;
*/
